body {
  font-family: monospace;
  font-size: 16px;
  line-height: 1;
  background-color: #dac2c2;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color:coral;
  border-radius: 0;
  border-bottom: 10px solid rosybrown;
  background-color: beige;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid black;
}

.hour {
  background-color: black;
  color: beige;
  border-top: 1px dashed beige;
}

.past {
  background-color: rosybrown;
  color: white;
}

.present {
  background-color: beige;
  color: black;
}

.future {
  background-color: burlywood;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  background-color:wheat;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
